<header class="p-3 border-bottom" style="width: 80%; margin-left: 17rem;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <i class="fa fa-bars"></i>



        
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" style="width: 45%;">
          <input type="search" class="form-control" placeholder="Search..." id="myInput" (focus)="onFocus()" (blur)="onBlur()" aria-label="Search">
          <div class="dropdown-content" id="dropdown-content">
            <a class="s">About</a>
            <a class="s">Base</a>
            <a class="s">Blog</a>
            <a class="s">Contact</a>
            <a class="s">Custom</a>
            <a class="s">Support</a>
            <a class="s">Tools</a>
          </div>

        </form>

        <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0 icons">
          <li><i class='fa fa-phone'></i></li>
          <li><i class='fa fa-comment'></i></li>
          <li><i class='fa fa-envelope-o'></i></li>
          <li class="dropdown"><a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class='fa fa-bell'></i></a>
            <ul class="dropdown-menu" style="width: 18rem; position: absolute !important; inset: 1.3rem -7rem auto !important;" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item notify-head" style="border-bottom: 1px #e6e6e6 solid;">Notifications <p style="display: inline; float: right;">Clear All</p></a></li>
              <li><a class="dropdown-item" style="display: flex; border-bottom: 1px #e6e6e6 solid;"><div class="notify-icon"></div> <p class="notify-text"> iOS Updates</p></a></li>
              <li><a class="dropdown-item" style="display: flex; border-bottom: 1px #e6e6e6 solid;"><div class="notify-icon" style="background: #fdbf5e;"></div> <p class="notify-text"> New invoice</p></a></li>
              <li><a class="dropdown-item" style="display: flex; border-bottom: 1px #e6e6e6 solid;"><div class="notify-icon" style="background: #22cce2;"></div> <p class="notify-text"> Package Received</p></a></li>
              <li><a class="dropdown-item notify-head text-center">View all Notifications <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </li>
          <li><i class='fa fa-th'></i></li>
        </ul>


        <div class="text-end" style="display: flex;">
          <a  class="d-block link-dark text-decoration-none">
            <img src="https://github.com/mdo.png" alt="mdo" width="45" height="45" class="rounded-circle" style="margin-right: 1rem;">Vaibhav Kapoor
          </a>

           <div class="dropdown-submenu" style="position: absolute; right: 11.2rem; top: 2rem;"><a class="dropdown-item test"><div class="dot"></div></a>
            <ul class="dropdown-menu" style="margin-top: 3rem; margin-right: -6rem;">
              <li><a class="dropdown-item"> Select status </a></li>
              <li><a class="dropdown-item"><div class="dot"></div> Online </a></li>
              <li><a class="dropdown-item"><div class="dot" style="background: #ffff36;"></div> Away </a></li>
              <li><a class="dropdown-item"><div class="dot" style="background: #3c6798;"></div> Coming soon </a></li>
              <li><a class="dropdown-item"><div class="dot" style="background: #af43d4;"></div> Hidden </a></li>
              <li><a class="dropdown-item"><div class="dot" style="background: #00b0ac;"></div> Lunch </a></li>
              <li><a class="dropdown-item"><div class="dot" style="background: #f83030;"></div> Busy </a></li>
              <li><a class="dropdown-item"><div class="dot" style="background: #392dd9;"></div> Set Time </a></li>
              <li><a class="dropdown-item"><div class="dot" style="background: #333333;"></div> Offline </a></li>
            </ul>
          </div>

          <a class="dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-caret-down" style="margin-left: 0.5rem; margin-top: 12px;"></i>
            <ul class="dropdown-menu" style="width: 18rem;" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item notify-head" style="border-bottom: 1px #e6e6e6 solid;">Notifications</a></li>
              <li><a class="dropdown-item" style="display: flex; border-bottom: 1px #e6e6e6 solid;"><div class="notify-icon"></div> <p class="notify-text"> iOS Updates</p></a></li>
              <li><a class="dropdown-item" style="display: flex; border-bottom: 1px #e6e6e6 solid;"><div class="notify-icon" style="background: #fdbf5e;"></div> <p class="notify-text"> New invoice</p></a></li>
              <li><a class="dropdown-item" style="display: flex; border-bottom: 1px #e6e6e6 solid;"><div class="notify-icon" style="background: #22cce2;"></div> <p class="notify-text"> Package Received</p></a></li>
              <li><a class="dropdown-item notify-head text-center">View all Notifications <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </a>

          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <a  class="d-block link-dark dropdown-item">
              <img src="https://github.com/mdo.png" alt="mdo" width="62" height="65" class="rounded-circle"><p class="p-details" style="display: inline;
              margin-left: 1rem; font-size: 16px;">Vaibhav Kapoor</p> 
            </a>

            <li><a class="dropdown-item" ><p class="p-name">Organisation</p> <p class="p-details">Alecom AB</p></a></li>
            <li><a class="dropdown-item" ><p class="p-name">Stations</p> <p class="p-details">Alecom AB</p></a></li>

            <li class="dropdown-submenu"><a class="dropdown-item test"><div class="dot"></div> Online <i class="fa fa-pencil"></i></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"> Select status </a></li>
                <li><a class="dropdown-item"><div class="dot"></div> Online </a></li>
                <li><a class="dropdown-item"><div class="dot" style="background: #ffff36;"></div> Away </a></li>
                <li><a class="dropdown-item"><div class="dot" style="background: #3c6798;"></div> Coming soon </a></li>
                <li><a class="dropdown-item"><div class="dot" style="background: #af43d4;"></div> Hidden </a></li>
                <li><a class="dropdown-item"><div class="dot" style="background: #00b0ac;"></div> Lunch </a></li>
                <li><a class="dropdown-item"><div class="dot" style="background: #f83030;"></div> Busy </a></li>
                <li><a class="dropdown-item"><div class="dot" style="background: #392dd9;"></div> Set Time </a></li>
                <li><a class="dropdown-item"><div class="dot" style="background: #333333;"></div> Offline </a></li>
              </ul>
            </li>
            <li class="dropdown" onclick="setDisplay(1)"><a class="dropdown-item" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-map-pin drop-icon"></i> Own status text <i class="fa fa-pencil"></i>
            
              <ul class="dropdown-menu" onclick="setDisplay(2)" style="display: block; width: 15rem; margin: -17rem -1.5rem;" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item"><i class="fa fa-angle-left" style="margin-right: -1.5rem; font-size: 15px;"></i> Back</a></li>
                <div class="form-group dropdown-item">
                  <textarea class="form-control" style="background: #f8fafb; height: 10rem; margin-bottom: 1rem;" placeholder="Write some text" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <li><a class="dropdown-item" style="font-size: 10.5px; color: #44566c;">How long the message should be displayed:</a></li>
                <li>
                  <select class="dropdown-item form-control" style="background: #f8fafb;">
                    <option>Today</option>
                    <option>1 Hour</option>
                    <option>4 Hours</option>
                    <option>Today</option>
                    <option>Never</option>
                    <option>Customised</option> 
                  </select>
                  <div style="display: inline-flex;">
                    <input class="mt-2 dropdown-item date" type="date" id="birthday" name="birthday">
                    <input class="mt-2 dropdown-item time" type="time" id="birthday" name="birthday">
                  </div>
                  </li>  

                <div class="dropdown-item text-center mt-2">
                  <button class="btn cancel" type="button">Cancel</button>
                  <button class="btn save" type="button">Save</button>
                </div>
              </ul>
            
            </a></li>
            
            <li><a class="dropdown-item" ><i class="fa fa-user drop-icon"></i> My Profile</a></li>
            <li><a class="dropdown-item" ><i class="fa fa-address-card drop-icon"></i> About</a></li>
            <li><a class="dropdown-item" ><i class="fa fa-cog drop-icon"></i> Settings</a></li>
            <li><a class="dropdown-item" ><i class="fa fa-sign-out drop-icon"></i>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>