.m-lines{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.fa {
    color: #44566c;
    margin-top: 5px;
    font-size: 18px;
    padding-right: 1.5rem;
}
.icons {
    margin-left: 4rem;
    margin-right: 1rem;
    border-right-style: solid;
    border-color: #e6e6e6;
}
.border-bottom {
  border-bottom: 8px solid #0d6efd!important;
}

.dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 34%;
    margin-top: 5px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
#dropdown-content {
    display: none;
}
  .s {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown s:hover {background-color: #ddd;}

  
  .dropdown-menu {
    min-width: 10rem;
  }
  .dropdown-menu.show {
    display: block;
    position: absolute !important;
    inset: 3rem auto auto !important;
    transform: translate3d(0px, 34px, 0px) !important;
}
.drop-icon {
  margin-right: -1rem;
  font-size: 15px;
}
.fa-times {
  float: right;
  right: 0px;
  margin-top: 2px !important;
  font-size: 15px;
  padding-right: 0px;
  color: #8697a8;
}
.fa-pencil {
  float: right;
  right: 0px;
  margin-right: 0px !important;
  font-size: 15px;
  padding-right: 0px;
  color: #8697a8;
}
.dropdown-item {
  padding: 0.5rem 1rem;
  color: #44566c;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover {
  background: transparent;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 102%;
  margin-top: -6rem;
  font-size: 13px;
}

.dropdown .notify-menu {
  top: 0;
  right: 102%;
  margin-top: -3.9rem;
  font-size: 13px;
}
.dot {
  background: #2bb319;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: inline-block;
}
.notify-head {
  font-size: 14px !important;
}
.notify-text {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 15px !important;
  font-weight: 500;
  display: inline;
}
.notify-icon {
  background: #09b66d;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}
.p-details {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: -1px;
}
.p-name {
  font-size: 12px;
  margin-bottom: -1px;
}
.cancel {
  margin-right: 1rem;
  background: white;
  color: #44566c;
  border: 1px #44566c solid;
  margin-right: 1rem;
}
.save {
  background: #44566c;
  color: white;
}
body {
  color: #44566c;
}
.date {
  width: 33%;
  background: #f8fafb;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.time {
  width: 31%;
  background: #f8fafb;
}